<div class="layers__item layer__footer"><%=link_to 'Footer', main_index_path, class: 'text' %></div>
<div class="layers__item layer4" style="background-image: url(<%= asset_path 'footer.png' %>)"></div>
