<div class="main__body">
  <section class="layer">
    <div class="layers__container">
      <div class="layers__item layer1" style="background-image: url(<%= asset_path 'background.png' %>)"></div>
      <div class="layers__item layer2" style="background-image: url(<%= asset_path 'sun.png' %>)"></div>
      <div class="layers__item layer3" style="background-image: url(<%= asset_path 'spaceship.png' %>)"></div>
      <div class="layers__item layer4" style="background-image: url(<%= asset_path 'chair.png' %>)"></div>
    </div>
  </section>
</div>