<div class="layers__item layer__work">
  <ul class="vertical__bar">
    <li><h1>Регистрация</h1></li>
    <li><%= render "form", user: @user %></li>
    <li><br></li>
    <li><%= link_to "Вернуться к авторизации", signin_path, class: 'link__button' %></li>
  </ul>
</div>