<div class="layers__item layer__work">
  <ul class="vertical__bar">
    <h1>Ваши оценки</h1>
    <% i = 0 %>
    <% loop do %>
      <li>
        <ul class="horizontal__bar">
          <li>
            <%= image_tag(@profile_files[i], size: '32x32') %>
          </li>
          <li>
            <%= Theme.find(@profile_themes[i]).name %>
          </li>
          <li>
            <%= @profile_values[i] %>
          </li>
        </ul>
      </li>
      <% i+=1 %>
      <% if i > @profile_themes.length-1 %>
        <% break %>
      <% end %>
    <% end %>
  </ul>
</div>